In [1]:
import sys
sys.path.append("../../")  # access to local modules

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
from MLDemo import DataPulling

In [4]:
CSV_PATH: str = "datasets/ridership/CTA_-_Ridership_-_Daily_Boarding_Totals.csv"
SERVICE_DATE: str = "service_date"
DATE: str = "date"
DAY_TYPE: str = "day_type"
BUS: str = "bus"
RAIL: str = "rail"
TOTAL: str = "total"

In [5]:
df: pd.DataFrame = DataPulling.open_csv(DataPulling.RIDERSHIP, parse_dates=[SERVICE_DATE])

In [6]:
# path = Path(CSV_PATH)
# df: pd.DataFrame = pd.read_csv(path, parse_dates=[SERVICE_DATE])
df.columns = [DATE, DAY_TYPE, BUS, RAIL, TOTAL]

df = df.sort_values(DATE).set_index(DATE)
df = df.drop(TOTAL, axis = 1)
df = df.drop_duplicates()
df.head()

           day_type     bus    rail
date
2001-01-01        U  297192  126455
2001-01-02        W  780827  501952
2001-01-03        W  824923  536432
2001-01-04        W  870021  550011
2001-01-05        W  890426  557917